header {
    background-color: var(--black);
    height: var(--header-height);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0em 4em 0em 1em;
}

.navbar a {
    color: #FFF !important;
}


.navbar img {
    height: 61px;
}